<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lorisguignard.producthunt</string>
	<key>connections</key>
	<dict>
		<key>3FE58F18-B2E0-4348-A971-D488AAEBAD45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DEFD014-C270-4939-8073-7C2E7791B95D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5E551633-DDC8-4374-971A-3ADE8CBCEC0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DEFD014-C270-4939-8073-7C2E7791B95D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B31255FE-A813-48F6-9FA1-E5271CDC79F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9C6DA67-FAB2-4488-9297-79E23F984C2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C9C6DA67-FAB2-4488-9297-79E23F984C2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E551633-DDC8-4374-971A-3ADE8CBCEC0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3FE58F18-B2E0-4348-A971-D488AAEBAD45</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Loris Guignard</string>
	<key>description</key>
	<string>List Product Hunt today's hunts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Product Hunt</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>command=$(echo "{query}" | cut -d '|' -f1)
id=$(echo "{query}" | cut -d '|' -f2)
url=$(echo "{query}" | cut -d '|' -f3)
alt_url=$(echo "{query}" | cut -d '|' -f4)

if [ "$command" = "open" ]; then
    open $url
elif [ "$command" = "mark_all_as_read" ]; then
    python ph.py mark_all_as_read
    echo "All posts marked as read"
elif [ "$command" = "mark_all_as_unread" ]; then
    python ph.py mark_all_as_unread
    echo "All posts restored"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5E551633-DDC8-4374-971A-3ADE8CBCEC0E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B31255FE-A813-48F6-9FA1-E5271CDC79F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hunt</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching data...</string>
				<key>script</key>
				<string>python ph.py main "{query}"</string>
				<key>subtext</key>
				<string>List Product Hunt today's hunt</string>
				<key>title</key>
				<string>Product Hunt</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C9C6DA67-FAB2-4488-9297-79E23F984C2E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Product Hunt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8DEFD014-C270-4939-8073-7C2E7791B95D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>command=$(echo "{query}" | cut -d '|' -f1)
id=$(echo "{query}" | cut -d '|' -f2)
url=$(echo "{query}" | cut -d '|' -f3)
alt_url=$(echo "{query}" | cut -d '|' -f4)

if [ "$command" = "open" ]; then
    open $alt_url
elif [ "$command" = "mark_all_as_read" ]; then
    python ph.py mark_all_as_unread
    echo "All posts restored"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FE58F18-B2E0-4348-A971-D488AAEBAD45</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3FE58F18-B2E0-4348-A971-D488AAEBAD45</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>5E551633-DDC8-4374-971A-3ADE8CBCEC0E</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>8DEFD014-C270-4939-8073-7C2E7791B95D</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>B31255FE-A813-48F6-9FA1-E5271CDC79F7</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>C9C6DA67-FAB2-4488-9297-79E23F984C2E</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/loris/alfred-producthunt-workflow</string>
</dict>
</plist>
